@model IEnumerable<Shop___videopoint.Models.Product>

@{
    ViewBag.Title = "Index";
    var first = Model.First();
}

<h2>Produkty</h2>
<p>Produktów w sklepie: @Model.Count()</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>Pierwszym przedmiotem ever został @first.Name</p>

@foreach (var product in Model)
{
    <div class="product">
        <h2>@product.Name</h2>
        <p>@Html.Raw(product.Description)</p>
        <div class="price red">@product.Price</div>
    </div>
}
